@model IEnumerable<OnlineClassManagement.Models.Assignment>

@{ 
    ViewData["Title"] = "Bài tập";
    var classId = ViewData["ClassId"];
}

<h1>@ViewData["Title"]</h1>

@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DueDate)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DueDate)
                    </td>
                    <td>
                        <a asp-controller="Assignment" asp-action="Details" asp-route-id="@item.AssignmentId">Nộp bài</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Chưa có bài tập nào cho lớp học này.</p>
}
