@model IEnumerable<OnlineClassManagement.Models.CourseMaterial>

@{ 
    ViewData["Title"] = "Tài liệu học tập";
    var classId = ViewData["ClassId"];
}

<h1>@ViewData["Title"]</h1>

@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FileType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FileSize)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FileType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FileSize)
                    </td>
                    <td>
                        <a href="@item.FileUrl" target="_blank">Tải xuống</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Chưa có tài liệu nào cho lớp học này.</p>
}
